/* ROOT */
:root {
    --black: #454138;
    --white: #ffffff;
    --logoblue: rgb(29,205,254);
    --logogreen: rgb(52,245,198);
    --lightgrey: rgb(200, 200, 200);
    --background: #121212;
    --tan: #bab5a1;
    --lighttan: #dcd8c0
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--tan);
    color: var(--black);
    font-family: "Noto Sans", sans-serif;
    font-size: 18px;
    line-height: 1.3;
    overflow-x: hidden;
    padding: 0 0px;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;

    span {
        margin-top: 20px;
        text-transform: uppercase;
    }
}

h1 {
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    text-shadow: 6px 8px 2px rgba(0,0,0,0.1);
    display: block;
    font-size: 2.5em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

/* ENDROOT */

/* BORDEREDGE */

.background-container {
    margin: 0 auto;
    height: 1000px;
}

.sidebar-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.sidebar {
    height: 40px;
    width: 13px;
    background-color: rgba(0, 0, 0, 0.1);
}

.sidebar-short {
    margin: 0 5px;
    height: 40px;
    width: 3px;
    background-color: rgba(0, 0, 0, 0.1);
}

.border-line {
    background-color: var(--black);
    height: 2px;
    width: 100%;
    margin: 0 auto;
}

.border-decoration {
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding: 0 10px;
    width: 90.5%;
    margin: 0 auto;
}
.border {
    max-width: 110px;
    display: flex;
    justify-content: space-between;
     > .square {
        background-color: var(--black);
        width: 10px;
        height: 4px;
     }

     > .circle-container {
        margin-top: 10px;
        display: flex;
        width: 38px;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        > .circle {
            background-color: var(--black);
            width: 5px;
            height: 5px;
            border-radius: 50%;
            margin: 2px 4px;
            align-self: center;
        }
     }

}

/* ENDBORDEREDGE */
        

/* NAV ICONS */



/* ENDNAV ICONS */

/* MAIN */
main {
    width: 90.5%;
    margin: 0 auto;
 
}

nav {
    width: 90.5%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

ul {
    width: 100%;
    display: flex;
    list-style: none;
    gap: 15px;

    li {
        margin-left: 30px;
        max-width: 175px;
        width: 100%;
        height: 40px;
        background-color: rgba(0, 0, 0, 0.1);
        margin-top: 5px;
        display: flex;
        background: linear-gradient(to right, #4D493E 50%, rgba(0, 0, 0, 0.1) 50%);
        background-size: 200% 100%;
        background-position: right bottom;
        transition: all .1s ease-out;
        display: flex;
        align-items: center;

        .map {
            
            margin-left: 30px;
            width: 250px;
            height: 40px;
            background-color: red;
            margin-top: 5px;
            display: flex;
            background: linear-gradient(to right, #4D493E 50%, rgba(0, 0, 0, 0.1) 50%);
            background-size: 200% 100%;
            background-position: right bottom;
            transition: all .1s ease-out;
            display: flex;
            align-items: center;
        }

        h2 {
            margin: 5.3px 3px;
            font-weight: 300;
            unicode-bidi: isolate;
            letter-spacing: .15rem;
            font-size: 1.5rem;
        }
    }
}

li:hover {
    cursor: pointer;
    background-position: left bottom;
    color: var(--tan);
}


li.active {
    height: 60px;
    background-color: var(--black);
    color: var(--tan);
}

.map-icon, .about-icon, .proj-icon, .blog-icon, .blank-icon {
    width: 25px;
    height: 25px;
    margin: 0 10px;
    background-repeat: no-repeat;
    background-size: contain;
}

.map-icon {
    background-image: url(assets/images/map-icon.webp);
}

.about-icon {
    background-image: url(assets/images/about-me-icon.webp);
}

.proj-icon {
    background-image: url(assets/images/proj-icon.webp);
}

.blog-icon {
    background-image: url(assets/images/blog-icon.webp);
}

.blank-icon {
    background-color: var(--black);
}

li:hover .blank-icon {
    background-color: var(--lighttan);
}

li.selected {
    background-color: var(--black);
    color: var(--tan);
}

li.selected .blank-icon {
    background-color: var(--lighttan);
}

.active > .map-icon {
    background-image: url(assets/images/map-icon-white.webp);
}

.active > .about-icon {
    background-image: url(assets/images/about-me-icon-white.webp);
}

.active > .proj-icon {
    background-image: url(assets/images/proj-icon-white.webp);
}

.active > .blog-icon {
    background-image: url(assets/images/blog-icon-white.webp);
}


/* ENDMAIN */

/* li.active::before {
    content: "";
    position: absolute;
    top: 50px;
    left: 310px;
    width: 20px;
    height: 10px;
    background-color: green;
   
} */

#map {
    border: 1px solid black;
    display: block;
    position: relative;
    max-width: 1200px;
    height: 600px;
    width: 100%;
    padding: 0 10px;
    
}

.overlay {
    top: 0;
    width: 500px;
    height: 500px;
    background-color: var(--tan);
    z-index: 2;
    opacity: 0.3;
    position: absolute;

}

.section {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

    .menu {
        display: flex;
        align-items: self-start;
        width: 100%;
    }
}

@media(max-width: 800px) {
    .section {
        flex-direction: column;

        .menu {
            margin-bottom: 20px;
        }
    }

    ul {
        gap: 0px;
        text-align: center;
        li {
            margin-left: 7px;
            text-align: center;
        }
    }

    .sidebar {
       display: none;
    }
    
    .sidebar-short {
        display: none;;
    }

    .map-icon, .about-icon, .proj-icon, .blog-icon, .blank-icon {
        display: none;
    }

    nav {
        width: 100%;
        margin: 0;
    }

    .page-title {
        font-size: 2.5rem;
    }

    header {
        flex-direction: column;
        margin: 0;

        span {
            margin-bottom: 20px;
            margin-top: 0;
        }
    }
    
}

.sidebar-long {
    height: 110px;
    width: 13px;
    background-color: rgba(0, 0, 0, 0.1);
}

.sidebar-short-long {
    margin: 0 5px;
    height: 110px;
    width: 3px;
    background-color: rgba(0, 0, 0, 0.1);
}

.section-bar {
    background-color: var(--black);
    height: 50px;
    width: 802px;
    border: 1px solid var(--black);
    color: white;
}

footer {
    display: flex;
    /* align-items: center; */
    margin: 50px 0 20px 0;
    height: 75px;
    width: 100%;
    color: var(--black);
    box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
    background-color: #dcd8c0;
}

.sidebar-container-grow {
    display: flex;
    align-items: center;
}

.sidebar-grow {
    height: 100%;
    width: 13px;
    background-color: rgba(0, 0, 0, 0.6);
}

.sidebar-grow-long {
    margin: 0 5px;
    height: 100%;
    width: 3px;
    background-color: rgba(0, 0, 0, 0.6);
}

.footer-text {
    display: flex;
    align-items: center;
    margin: 5.3px 25px;
    font-weight: 300;
    unicode-bidi: isolate;
    letter-spacing: .15rem;
    font-size: clamp(.8rem, 1.5vw, 1rem);
    justify-content: space-between;
    width: 100%;
    
}

.item-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding-right: 50px;
    width: 100%;
    height: 110px;
}

aside {
    width: 100%;
}

.map-li {
    margin: 0 30px;
    max-width: 600px;
    width: 100%;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.1);
    margin-top: 5px;
    display: flex;
    background: linear-gradient(to right, #4D493E 50%, rgba(0, 0, 0, 0.1) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .1s ease-out;
    display: flex;
    align-items: center;
}

.content {
    width: 100%;
    
}


.box-title {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    background-color: var(--black);
    color: var(--tan);
    align-items: center;

    h3 {
        margin-left: 30px;
        font-weight: 300;
        unicode-bidi: isolate;
        letter-spacing: .15rem;
        font-size: 1.5rem;
    }

}

.box-content {
    border: 1px solid var(--lighttan);
    background-color: var(--lighttan);
    margin-bottom: 20px;
}

.box-content-image {
    height: 250px;
    background-color: var(--tan);
    margin: 30px;
    display: flex;
    align-items: center;
}

.box-content-divider {
    height: 2px;
    width: 88%;
    background-color: rgba(0, 0, 0, 0.1);
    margin: 0 auto 20px;
}

.box-content-text {
    width: 88%;
    height: 200px;
    margin: 0 auto;
    unicode-bidi: isolate;
    letter-spacing: .15rem;
    font-size: 1.2rem;
}

.box-content-spacer {
    height: 20px;
}

.content-image {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-menu {
    display: flex;
    align-items: flex-start;
    width: 520px;
}

.box-content-menu {
    width: 100%;
    height: 575px;
    background-color: var(--lighttan);
    margin: 0 20px;
}

.box-divider {
    width: 90%;
    margin: 8px 10px;
    height: 3px;
    background-color: rgba(0, 0, 0, 0.2);
}

.box-content-menu-item {
    width: 90%;
    margin: 5px 10px;
    padding: 10px;
    background: linear-gradient(to right, #4D493E 50%, var(--lighttan) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 0.1s ease-out;
    display: flex;
    flex-direction: column;
}

.box-content-menu-item-border-top {
    background: linear-gradient(to right, #4D493E 50%, var(--lighttan) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 0.1s ease-out;
    display: flex;
    align-items: center;
    height: 2px;
    width: 90%;
    margin-left: 10px;
}

.box-content-menu-list:hover .box-content-menu-item {
    cursor: pointer;
    background-position: left bottom;
    color: var(--tan);
}

.box-content-menu-list:hover  .box-content-menu-item-border-top {
    cursor: pointer;
    background-position: left bottom;
    color: var(--tan);
}

.box-content-menu-list .box-content-menu-item.active {
    background: var(--black);
    color: var(--tan);
}